* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    flex: auto;
}

body {
    background-image: url(../Assets/Image/backgroundnew.jpeg);
    background-size: cover;
}

.header {
    display: flex;
    float: right;
    font-size: 50px;
    color: rgb(151, 71, 121);
}

.header h1 {
    display: inline-block;
    padding: 35px;
    padding-bottom: 15px;
}

.headerimage img {
    padding: 35px 0px 0px 35px;
    height: 10%;
    width: 10%;
}

.headerul {
    list-style-type: none;
    display: flex;
    padding: 35px;
    font-size: 25px;
    text-align: center;
}

.Header2 {
    display: flex;
    padding: 35px;
    font-size: 35px;
    background-color: rgb(221, 131, 144);
    color: white;
    background-image: url(../Assets/Image/portfolioimate.webp);
    background-size: cover;
}

.Aboutme {
    padding: 35px;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    color: rgb(16, 96, 121);
}

.Aboutme-text {
    display: flex;
    padding-left: 50px;
}

.Work {
    padding: 35px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 30px;
    color: rgb(16, 96, 121);
}

.Surf-Report {
    margin-bottom: 20px;
    height: 600px;
    width: 1690px;
    color: black;
    display: flex;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(122, 116, 206);
    background-image: url(../Assets/Image/Mernstack.png);
    background-size: cover;
}

.Work-Boxes {
    margin-bottom: 20px;
    display: flex;
    font-size: 30px;
}

.LED {
    border-style: solid;
    border-width: 10px;
    border-color: rgb(122, 116, 206);
    height: 300px;
    width: 740px;
    margin-left: 140px;   
    background-image: url(../Assets/Image/lot.png);
    background-size: cover;
}

.Calculator {
    border-style: solid;
    border-width: 10px;
    border-color: rgb(122, 116, 206);
    height: 300px;
    width: 740px;
    margin-left: 140px;   
    background-image: url(../Assets/Image/React.jpeg);
    background-size: cover;
    color: white;
}

.PastelMern {
    border-style: solid;
    border-width: 10px;
    border-color: rgb(122, 116, 206);
    height: 300px;
    width: 740px;
    margin-left: 140px;   
    background-image: url(../Assets/Image/PastelMern2.jpg);
    background-size: cover;
}

.RunHTML {
    border-style: solid;
    border-width: 10px;
    border-color: rgb(122, 116, 206);
    height: 300px;
    width: 740px;
    margin-left: 140px;   
    background-image: url(../Assets/Image/htmlcss.png);
    background-size: cover;
}

.contactme {
    padding: 35px;
    display: flex;
    justify-content: space-between;
    font-size: 35px;
    color: rgb(151, 71, 121);
}