* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    flex: auto;
}

body {
    background-image: url(../Assets/Image/abstractart.jpg);
}

.header h1 {
    display: inline-block;
    padding-bottom: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 35px;
    color: rgb(76, 105, 202);
    background-color: mistyrose;
}

.header  ul {
    margin-right: 20px;
    margin-top: 50px;
    float: right;
    font-size: 25px; 
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px; 
    position: relative;
}

.Header2 {
    display: flex;
    justify-content: end;
    padding-top: 5%;
    font-size: 25px;
    border-style: inset;
    border-width: 5px;
    background-color: #1383ce;
}

.Aboutme {
    padding-left: 70px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.Aboutme-text {
    display: flex;
    padding-left: 50px;
}
.contactme {
    padding: 50px 100px 100px 200px; 
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.Work {
    padding-left: 70px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: black;
}

.Work-Box-Big {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    width: 500px;
    color: black;
    display: flex;
    border-style: dotted; 
    border-color: #0072bb;
}

.Work-Boxes {
    margin-bottom: 20px;
    height: 300px;
    width: max-content;
    color: black;
    display: flex;
    border-style: dotted; 
    border-color: #0072bb;
}