* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: lightblue;
}

.header h1 {
    display: inline-block
}

.header {
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    background-color: burlywood;
    font-size: 50px;
    color: white;
}

.header  ul {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px; 
    position: relative;
}

.Header2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    display: inline-block;
}

.image1 {
    float: left; 
    margin-right: 25px;
    max-width: 15%;
    height: auto;
    background-size: inherit;
    
}
 /*This is wrong, correct this is not working*/

.aboutme {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.contactme {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.work {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}